@using Microsoft.AspNet.Identity
@model Covid.Models.ManageUserViewModel

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/css/footer.css" rel="stylesheet" />

<body style="background-color:#f3f1f1">
    <div class="col-10" style="background-color:#f3f1f1; margin-right:10%;margin-left:10%">
        <div class="well">
            <table class="table table-bordered">
                <thead>
                    <tr class="success">
                        <th colspan="2">
                           change password

                            <a class="btn btn-success pull-right" href="~/Account/Register">Register</a>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                      
                        @Html.ValidationSummary()
                        <tr>
                            <td>
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-5 control-label" })
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </td>
                        </tr>


                        <tr>
                            <td>
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label" })
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </td>
                        </tr>



                        <tr class="success">
                            <td colspan="2">
                                <input id="btnLogin" class="btn btn-success"
                                       type="submit" value="change password" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
</div>
</body>